body, div, dl, dt, dd, ul, ol, h1, h2, h3, h4, h5, h6, pre, form, fieldshet.textarea, p, block {
    padding: 0;
    margin: 0;
}



/*body*/
body {
    background-color: gray;
    font-family: Arial, melvetica, sans-serif;
    font-size: 12px;
}

.banner{
    height: 200px;
    width: 1002px;
    border: 3px solid #000000;
    background-size: cover;
}
/*page*/
.wrapper {
    width: 950px;
    margin: auto;

      padding-bottom: 20px;
    background-color: white;

    -moz-border-radius: 25px;
    -webkit-border-radius:25px;
    border-radius:25px;  padding-bottom: 20px;
    background-color: white;

}

/*homepage*/

.content {
    width: 100%;
    background-color: rgb(254,254,254);
    border: 1px solid rgb(224,244,224);
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin-top: 8px;
    margin-bottom: 8px;
    min-height: 400px;
}

/*Menu*/

.menu {
    background: linear-gradient(to top, #c2bcb5, #ffffff);
    width: 100%;
    margin: 0px 0px 10px;
    padding: 0px;
    height: 50px;
    color: rgb(243,243,243);
    border-radius: 5px 5px 5px 5px;
}

.navigation_first_item {
    border-left: 0px;
    border-radius: 5px 0 0 5px;
}

.navitem_s {
    float: left;
    border-right: 1px solid rgb(10,85,125);
    border-left: 1px solid rgb(67,153,200);
    height: 40px;
    background-color: rgb(14,79,114);
}

.menu ul{

}

.menu ul li {
    float: left;
    display: block;
    list-style: none;
     text-transform:uppercase;
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
}

    .menu ul li.navigation_first_item:hover {
        border-radius: 5px 0px 0px 5px;
    }

    .menu ul li a 
    {
        font-size: 13px;
        font-weight: bold;
        line-height: 40px;
        padding:8px 20px;
        color: black;
        text-decoration: none;
    }

    .menu ul li:hover {
        background-color: gray;
        border-right: 1px solid rgb(14,89,130);
    }

.clear {
    clear: both;
}

/*footer*/
.footer {
    height: 150px;
    background: linear-gradient(to top, #c2bcb5, #ffffff);
    color: black;
    border-radius: 5px 5px 5px 5px;
    clear:both;
}

    .footer h2 {
        padding: 15px;
        text-align: center;
    }

    .footer table {
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    }

        .footer table a {
        text-decoration:none;
        }

        .footer p {
            text-align:center;
           
            line-height:0;
        }

    .footer img {
    width:30px;
    height:30px;
    }
    .contact  {
     height:600px;
     margin:0;
     padding:0;
     background-image:url("../images/map.png");
     background-size:cover;
    }

    .contact #contactform {
      
      float:right;
      position:absolute;
      z-index:1;
      padding:20px;
     
      color:white;
      font-size:1.2em;
    }

    .contact fieldset{

        background-color:#000000;
        padding:20px;
        border-radius:10px;
        opacity:.7;
    }

    .contact fieldset legend {
        padding:20px;
        background-color:#000000;
        font-size:1.3em;
        margin-left:-20px;
        border-radius:20px;
        color:red;
    }

    #contactform table {

        border-collapse:collapse;
    }

    #contactform table td {
       
      height:50px;

    }

    #contactform table td input[type=text],   #contactform table td input[type=email]{

        padding:5px;
        border-radius:5px;
    }
    #map {
        z-index:0;
        width:100%;
        height:100%;
        position:relative;
      
    }
    #default {

        padding:10px;
        font-family:Arial, 'Times New Roman', Times, serif;
    }
    #default #slider {
        width:40%;
        border:1px solid gray;
        padding:20px;
        float:left;
        z-index:-1;
    }
    #default #slider img {
        width:80%;
        height:80%;

    }

    
    #default #message {
        width:50%;
        padding:20px;
        float:right;
        height:400px;
        background-image:url("../images/watches/mens-watches_header.jpg");
        background-size:cover;
        text-align:center;

    }

    #default #message h1,p {
        padding:10px;
       
        color:#000000;

    }

    #default #message p {
        padding:10px;
        background-color:#050217;
        color:white;
        text-align:left;
    
        font-size:1.2em;
        opacity:.8;
    }

    .product {
        overflow-y:scroll;
        height:450px;
     
        

    }
    .product p {
        margin:0;
        padding:10px;
        background-color:none;
        position:absolute;
        width:500px;
        opacity:.8;
    }

    .product ul {
        list-style:none;
        display:inline-block;
        margin:10px;
        padding:10px;
        text-align:center;
        border:1px solid gray;

    }
    .product ul li ul {
        text-align:left;
        font-weight:bold;
    }
    .product ul img {
        width:250px;
        height:250px;

    }


    .popup {
       
    position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 200px;
  background-color:white;
  padding:10px;
  z-index:9999;
  box-shadow: 5px 5px 5px gray;
   padding: 10px;
   text-align :center;
   display:block;
        

    }


.popuplogin {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 500px;
    height: 300px;
    background-color: white;
    padding: 10px;
    z-index: 9999;
    box-shadow: 5px 5px 5px gray;
    padding: 10px;
    text-align: center;
    overflow:auto;
}

.popuplogin table {
    width:100%;
    border-collapse:collapse;
    margin:5px;
}

.popuplogin table tr td {
    border:1px solid gray;
}
.cartlink:hover {
cursor:pointer;
color:red;

}

   #loginpane
{
       float:right;
       width:400px;
       margin-top:-70px;
       text-align:center;
       position:relative;
}

   #loginpane input {
       background-color:rgb(14,79,114);
       color:white;
       padding:2px;
       border-radius:5px;
       text-align:center;
   }
   #loginpane input[type=submit]{
       background-color:gray;
       padding:5px;
       width:50px;
   }
        

    

    .pop {
        overflow-y:scroll;
        height:450px;
     
        

    }
    .pop p {
        margin:0;
        padding:10px;
        background-color:none;
        position:absolute;
        width:500px;
        opacity:.8;
    }
        .pop ul {
                margin-left:auto;
        margin-right:auto;
        
        }
    .pop ul li {
        list-style:none;
        display:inline-block;
        margin:10px;
        padding:10px;
        text-align:center;
        border:none;
      
    

    }
    .pop ul li ul {
        text-align:left;
        font-weight:bold;
        margin-left:auto;
        margin-right:auto;
         border:1px solid gray;
         padding:10px;
       
    }

     .pop ul li ul li {
       display:list-item;
          border:none;
          margin:0;
          padding:0;
          text-align:left;
         
    }
    .pop ul img {
        width:150px;
        height:150px;
           border:none;

    }
#ourproducts,#ouraddress {
  
    position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 800px;
  height: 500px;
  background-color:white;
  padding:10px;
  z-index:9999;
  box-shadow: 5px 5px 5px gray;
  
}

#contactform fieldset {
    width:500px;
display:block;
margin-left:auto;
margin-right:auto;
}

#ouraddress *{

  

}
#ouraddress .minimap {
     float:left;
     width:50%;
     height:450px;
    
     background-image:url("../images/map.png");
     background-size:cover;
}
#ouraddress .address {
    float:left;
    padding:10px;
     height:450px;
}

#ouraddress .address ul  {
    list-style:none;
    font-size:1.2em;
}

#ouraddress .address ul li  {
    margin:10px;
}

.viewmap {

    color:red; cursor:pointer;text-align:center;
    padding:5px;
    background-color:#c2bcb5;
    width:200px;
    display:block;
    border-radius:10px;
    margin-left:auto;
    margin-right:auto;
    margin-top:5px;
    margin-bottom:5px;
}

.add {
  font-size:.8em;
  color:rgb(67,153,200);

}
.buy {
display:block;
width:100px;
padding:5px;
text-align :center;
margin-left:auto;
margin-right:auto;
background-color:red;
border-radius:5px;
}
    .buy a {
    text-decoration:none;
  color:#110c0c;
    }

    .edit{
display:block;
 margin:2px;
padding:5px;

text-align :center;
margin-left:auto;
margin-right:auto;
background-color:rgb(10,85,125);
border-radius:5px;
}
    .edit a {
       
    text-decoration:none;
  color:#ffffff;
    }


   /* admin page*/

#leftmenu {
padding:10px;
height:400px;
width:20%;
float:left;
border-right:double 5px #000000;
}

#leftmenu ul {
    margin-left:30px;
}

#productlisting {
width:70%;
float:left;
overflow-y:scroll;
height:400px;

}

 #productlisting table{
     padding:10px;
     display:block;
     margin:10px;
     border:1px solid gray;
     width:400px;
     margin-left:auto;
     margin-right:auto;
    
 }

    #productlisting table img {
    
    width:200px;
    height:200px;
    border:outset 1px gray;
    
    }



    #productlisting ul img {
        width:150px;
        height:150px;
    }

    #productlisting ul li {
        display:inline-block;
        margin:20px;
        border:solid 1px gray;
        padding:5px;
    }

    #productlisting ul li ul li {
        display:list-item;
        margin:0;
        border:none;
        list-style:none;
        padding:0;

    }



    #productlisting2 {
padding:20px;

margin-left:auto;
margin-right:auto;
overflow-y:auto;
height:400px;

}

 #productlisting2 table{
     padding:10px;
     display:block;
     margin:10px;
     border:1px solid gray;
     width:400px;
     margin-left:auto;
     margin-right:auto;
    
 }

    #productlisting2 table img {
    
    width:200px;
    height:200px;
    border:outset 1px gray;
    
    }

    #productlisting2 ul {
      margin-left:auto;
     margin-right:auto;
     display:inline-block;
     width:100%;
    }

    #productlisting2 ul img {
        width:150px;
        height:150px;
    }

    #productlisting2 ul li {
        display:inline-block;
        margin:20px;
        border:solid 1px gray;
        padding:5px;
    }

    #productlisting2 ul li ul li {
        display:list-item;
        margin:0;
        border:none;
        list-style:none;
        padding:0;

    }

#delete {
padding:20px;
text-align:center;

}

.selected {
font-weight:bold;
color:rgb(10,85,125);

}

#loginpage {
text-align:center;

}

    #loginpage table {
    
        margin-left:auto;
        margin-right:auto;
        display:inline-block;
        padding:20px;
        border:1px solid gray;
        text-align:left;
    
    }


#cart {
width:60%;
float:left; 
padding:10px;
height:350px;
border-right:double 1px gray;
overflow:auto;
text-align:center;
}

#cart table{
    width:75%;
    text-align:center;
    border-collapse:collapse;
    margin-left:auto;
    margin-right:auto;
}

#cart table tr td{
    border:1px solid gray;
}

    #cart table tr th {
        border: 1px solid gray;
        background-color:gray;
        color:white;
    }
#paypal {
    width:35%;
   
    height:400px;
    float:right;
}

#paypal img {
    width:30%;
    width:30%;

}
#payment {
    width:60%;
    margin:20px;
    font-size:.8em;
    color:black;
    padding:20px;
    background-color:white;
   
}

#payment input[type="submit"]{
border:1px solid #ffad41; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;font-size:12px;font-family:arial, helvetica, sans-serif; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #ffc579; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc579), to(#fb9d23));
 background-image: -webkit-linear-gradient(top, #ffc579, #fb9d23);
 background-image: -moz-linear-gradient(top, #ffc579, #fb9d23);
 background-image: -ms-linear-gradient(top, #ffc579, #fb9d23);
 background-image: -o-linear-gradient(top, #ffc579, #fb9d23);
 background-image: linear-gradient(to bottom, #ffc579, #fb9d23);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc579, endColorstr=#fb9d23);
}

#payment input[type="submit"]:hover{
 border:1px solid #ff9913;
 background-color: #ffaf46; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffaf46), to(#e78404));
 background-image: -webkit-linear-gradient(top, #ffaf46, #e78404);
 background-image: -moz-linear-gradient(top, #ffaf46, #e78404);
 background-image: -ms-linear-gradient(top, #ffaf46, #e78404);
 background-image: -o-linear-gradient(top, #ffaf46, #e78404);
 background-image: linear-gradient(to bottom, #ffaf46, #e78404);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffaf46, endColorstr=#e78404);
}
#payment input[type=email],#checkout #payment input[type=password]{
    padding:2px;
}